<br/>
<footer class="bg-dark text-white py-3 mt-auto">
	<hr class="my-0" />
    <div class="container">
		<small>&nbsp;&nbsp; &copy; @DateTime.Now.Year - CountDownClock | .NET Version: @Environment.Version</small>
    </div>
</footer>
<br />