@inherits LayoutComponentBase

<div class="app-layout home-background">
    <Header />
    <main class="flex-fill">
        @Body
    </main>
    <Footer />
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
