@page
@model IndexModel
@{
	ViewData["Title"] = ".NET Conf 2024";
}

<!--
	Steps I took to add assets:
	1. Downloaded font from here... https://font.download/font/digital-7-mono
	2. created a fonts folder: wwwroot/fonts
	3. Put zip download in it and extracted 'digital-7.ttf'
	4. Used site https://transfonter.org/ and uploaded the font to convert - which produced another zip downlaoded
	5. Put zip download in fonts folder and extracted 'Digital-7.woff' and 'Digital-7.woff2'

	Added the references to the bottom of the sites.css file.

-->
<!-- This is thepart I added for countdown Script library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js"></script>
<script>
	window.onload = function () {
		// var eventStart = moment.tz("2024-11-12 10:00", "America/Los_Angeles");
		// var eventEnd = moment.tz("2024-11-14 18:00", "America/Los_Angeles");

		var eventStart = moment.tz("2024-06-03 10:00", "America/Los_Angeles");
		var eventEnd = moment.tz("2024-06-03 18:00", "America/Los_Angeles");

		var now = moment();

		var countdown = document.getElementById('countdown');
		countdown.style.paddingTop = '7px';
		countdown.style.paddingRight = '10px';
		countdown.style.paddingBottom = '7px';
		countdown.style.paddingLeft = '10px';
		var state = document.getElementById('state');

		function updateCountdown() {
			now = moment();

			if (now.isBefore(eventStart)) {
				countdown.style.color = "#3399FF";
				countdown.style.backgroundColor = "#1f1f1fff";
				var duration = moment.duration(eventStart.diff(now));
				var countdownText = "";
				if (duration.months() > 0) countdownText += duration.months() + " Months ";
				if (duration.days() > 0) countdownText += duration.days() + " Days ";
				if (duration.hours() > 0) countdownText += duration.hours() + " Hours ";
				if (duration.minutes() > 0) countdownText += duration.minutes() + " Minutes ";
				countdownText += duration.seconds() + " Seconds";
				countdown.innerHTML = countdownText;
				state.innerHTML = "Event will start in:";
			} else if (now.isBefore(eventEnd)) {
				countdown.style.color = "#ac99eaff";
				countdown.style.backgroundColor = "#1f1f1fff";
				var duration = moment.duration(eventEnd.diff(now));
				var countdownText = "";
				if (duration.months() > 0) countdownText += duration.months() + " Months ";
				if (duration.days() > 0) countdownText += duration.days() + " Days ";
				if (duration.hours() > 0) countdownText += duration.hours() + " Hours ";
				if (duration.minutes() > 0) countdownText += duration.minutes() + " Minutes ";
				countdownText += duration.seconds() + " Seconds";
				countdown.innerHTML = countdownText;
				state.style.color = "#FFFF99";
				state.innerHTML = "Event is Live. It will end in:";
			} else {
				countdown.className = "font-hero-subtitle";
				countdown.style = "background: linear-gradient(to bottom right, #9780E5, #DE33BB); -webkit-background-clip: text; -webkit-text-fill-color: transparent;";
				var countdownText = "See you next year !";
				countdown.innerHTML = countdownText;
				state.style = "background: linear-gradient(to bottom right, #9780E5, #DE33BB); -webkit-background-clip: text; -webkit-text-fill-color: transparent;";
				state.style.fontWeight = "bold";
				state.innerHTML = "Thank you for joining us.";
				clearInterval(interval);
			}
		}
		var interval = setInterval(updateCountdown, 1000);
	}
</script>


<div class="overflow-container">
	<img role="presentation" class="bg-gradient-ellipse" src="/img/bg-gradient-ellipse-01.svg?v=L69jH1RVasvDN_ZVBBZaHkK5g2r_PPPVReu43PNZqwE" alt="Background gradient ellipse">
	<img role="presentation" class="bg-gradient-ellipse" src="/img/bg-gradient-ellipse-02.svg?v=kyApl3h3T6kBmv8usC0bfrOko_aBXTwmPTihLuwoQxk" alt="Background gradient ellipse">
	<img role="presentation" class="bg-gradient-ellipse" src="/img/bg-gradient-ellipse-03.svg?v=3NR5a0WnQZgx_Ws0ZAEcZVG_0WNlqAsCtFJsVSWg6uI" alt="Background gradient ellipse">
	<img role="presentation" class="bg-gradient-ellipse" src="/img/bg-gradient-ellipse-04.svg?v=94NidGU8zPjAyyvMJJf2hLJV3wCaXG4jbtHnKKJMCDE" alt="Background gradient ellipse">
	<img role="presentation" class="bg-gradient-ellipse" src="/img/bg-gradient-ellipse-05.svg?v=6C3ist_TO6k8slxBlZaaD7MFx1X2CZbQ2vxMZm3u8dM" alt="Background gradient ellipse">
	<header class="navbar grid vertical-gap">
		<a class="navbar-title font-title-2" href="/">.NET Conf 2024</a>
		<button id="navbar-menu-btn" class="navbar-menu-icon-btn" aria-label="Toggle menu">
			<svg role="presentation" width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.752568 12.9997H19.2526C19.6668 12.9997 20.0026 13.3355 20.0026 13.7497C20.0026 14.1294 19.7204 14.4432 19.3543 14.4928L19.2526 14.4997H0.752568C0.338355 14.4997 0.00256824 14.1639 0.00256824 13.7497C0.00256824 13.37 0.284722 13.0562 0.650798 13.0065L0.752568 12.9997H19.2526H0.752568ZM0.752568 6.5027H19.2526C19.6668 6.5027 20.0026 6.83848 20.0026 7.2527C20.0026 7.63239 19.7204 7.94619 19.3543 7.99585L19.2526 8.0027H0.752568C0.338355 8.0027 0.00256824 7.66691 0.00256824 7.2527C0.00256824 6.873 0.284722 6.55921 0.650798 6.50954L0.752568 6.5027H19.2526H0.752568ZM0.751709 0.00292969H19.2517C19.6659 0.00292969 20.0017 0.338716 20.0017 0.75293C20.0017 1.13263 19.7196 1.44642 19.3535 1.49608L19.2517 1.50293H0.751709C0.337495 1.50293 0.00170898 1.16714 0.00170898 0.75293C0.00170898 0.373234 0.283863 0.0594385 0.649939 0.00977612L0.751709 0.00292969H19.2517H0.751709Z" fill="#B9AAEE" />
			</svg>
		</button>
	</header>
	<main>
		<section class="hero grid vertical-gap">
			<div class="hero-text">
				<h1 class="font-display-2 negative-margin">.NET Conf 2024</h1>
				<p class="font-hero-subtitle">
					Celebrate and learn about what you<br />
					can do with .NET 9 at the biggest .NET<br />
					virtual event

					<!-- ADDED THIS DIV SECTION -->
					<!--<span class="hero-date">-->
					<div class="text-center">
						<br />
						<div class="d-flex justify-content-center">
							<div>
								<span id="state" class="font-hero-subtitle"></span>
							</div>
						</div>
						<div>
							<div>
								<span id="countdown"></span>
							</div>
						</div>
						<br />
					</div>
					<!--</span>-->

					<span class="hero-date">November 12 &dash; 14.</span>
				</p>
				<div class="hero-ctas">
					<a href="save-date" title="Save the Date!" class="dotnet-outline-btn-accent" data-dropdown-y="down" data-styling="none">
						Add to calendar
					</a> &nbsp;&nbsp;&nbsp;
				</div>
			</div>
			<img role="presentation" class="hero-image-box" src="/img/hovercraft.svg" alt=".NET Bot flying the .NET 9 hovercraft">
		</section>

		<section class="vertical-gap grid text-swimlane">
			<h2>The biggest .NET virtual event</h2>
			<p>
				.NET Conf has been a virtual event since the beginning,
				and this year we’re celebrating our 14th online conference.
				We always strive to create a world class, engaging, virtual experience
				for all our attendees no matter where they are. Over the years we've expanded
				our content and our reach. We now draw over 100 thousand live viewers
				and sponsor hundreds of local events around the world.
			</p>
		</section>

		<section class="vertical-gap grid text-swimlane">
			<h2>What to expect at the conference</h2>
			<p>
				Over the course of the three days we provide a wide selection of
				live sessions that feature speakers from the community and .NET
				team members. We have sessions streaming 24/7 between day two
				and three of the conference so everyone can get involved no matter
				what their time zone. You can ask questions live on Twitter,
				join the fun on Twitch, attend the virtual attendee parties where you
				can play trivia games and win prizes. Best of all, you can take
				what you learn here and be a better .NET developer.
			</p>
		</section>

		<section id="stay-connected" class="vertical-gap">
			<section>
				<h4>Stay connected</h4>
				<p><a href="http://eepurl.com/gvEhgX" target="_blank">Sign up</a> for the latest news and updates about .NET Conf.</p>
			</section>
			<p class="font-title-3">Follow the event <a class="dotnetconf-hashtag" href="https://twitter.com/search?q=dotnetconf&src=typed_query&f=live" target="_blank">#dotnetconf</a></p>
		</section>




		<div>
			<br />
			<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
			<br />
		</div>

	</main>

</div>
