html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px;
	background-color: #1f1f1fff;
}

/* font and association added below for counter */
@font-face {
	font-family: 'Digital-7';
	src: url('/fonts/digital-7.woff2') format('woff2'), url('/fonts/digital-7.woff') format('woff');
}

#countdown {
	font-family: 'Digital-7', monospace;
	font-size: 32px;
}